body {
	color: hsl(0, 0%, 85%);
	background: hsl(161, 51%, 15%);
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
		'Helvetica Neue', sans-serif;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
}

ul {
	padding: 0;
}

li {
	list-style-type: none;
	padding: 10px 20px;
}

.languages {
	display: flex;
	justify-content: center;
}

.languages li {
	margin: 10px;
	font-weight: bold;
	cursor: pointer;
}

.popular-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.popular-item {
	background: hsl(0, 0%, 95%);
	color: hsl(0, 0%, 14%);
	margin: 20px;
	text-align: center;
	font-weight: 500;
	height: 400px;
	border-radius: 5px;
}

.avatar {
	height: 200px;
	border-radius: 50%;
	box-shadow: 0px 0px 15px 2px hsl(0, 0%, 70%);
}

.space-list-items {
	margin-bottom: 7px;
}

.octicon-star {
	position: relative;
	top: 2px;
}

.repo-name {
	font-size: 20px;
  text-decoration: none;
  color: hsl(210, 100%, 50%);
  font-weight: 600;
}

.nav {
	display: flex;
}

.active {
	font-weight: bold;
	border-bottom: 3px solid hsl(24, 100%, 50%);
}

.nav li {
	margin-right: 15px;
}

.nav li a {
	color: hsl(0, 0%, 100%);
	text-decoration: none;
	padding: 10px 20px;
	width: 100px;
}

.home-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.reset {
	border: none;
	background: transparent;
	color: hsl(0, 100%, 67%);
	display: block;
	width: 40px;
	text-align: center;
}

.reset:hover {
	cursor: pointer;
}

.button {
	background-color: hsl(210, 100%, 50%);
	color: hsl(0, 0%, 100%);
	padding: 10px 50px;
	border: none;
	border-top: 2px solid hsl(210, 100%, 40%);
	text-decoration: none;
}

.button:hover:enabled {
	border-top: none;
	box-shadow: inset 1px 0 5px 2px hsl(210, 100%, 20%);
}

.button:disabled {
	border-top: 2px solid hsl(210, 100%, 80%);
	background-color: hsl(210, 100%, 75%);
}

.row {
	display: flex;
	justify-content: space-around;
}

.card {
	padding: 30px 30px;
	height: 300px;
	width: 200px;
	background: hsl(0, 0%, 100%);
	color: rgb(26, 24, 51);
	border-radius: 5px;
}

.column {
	display: flex;
	flex-direction: column;
	max-width: 500px;
	align-items: center;
}

.column input {
	border-radius: 5px;
	font-size: 16px;
	min-width: 200px;
	max-width: 100%;
	padding: 5px;
	margin-top: 25px;
	margin-bottom: 25px;
}

.column label {
	text-align: center;
	font-size: 24px;
	font-weight: 200;
}

.header {
	text-align: center;
	font-size: 30px;
	font-weight: 200;
}

.loader,
.loader:before,
.loader:after {
	background: hsl(0, 0%, 100%);
	-webkit-animation: load1 1s infinite ease-in-out;
	animation: load1 1s infinite ease-in-out;
	width: 1em;
	height: 4em;
}
.loader {
	color: #ffffff;
	text-indent: -9999em;
	margin: 88px auto;
	position: relative;
	font-size: 11px;
	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-animation-delay: -0.16s;
	animation-delay: -0.16s;
}
.loader:before,
.loader:after {
	position: absolute;
	top: 0;
	content: '';
}
.loader:before {
	left: -1.5em;
	-webkit-animation-delay: -0.32s;
	animation-delay: -0.32s;
}
.loader:after {
	left: 1.5em;
}
@-webkit-keyframes load1 {
	0%,
	80%,
	100% {
		box-shadow: 0 0;
		height: 4em;
	}
	40% {
		box-shadow: 0 -2em;
		height: 5em;
	}
}
@keyframes load1 {
	0%,
	80%,
	100% {
		box-shadow: 0 0;
		height: 4em;
	}
	40% {
		box-shadow: 0 -2em;
		height: 5em;
	}
}
